.LeftSideValues{
    width: 400px;
    height: 100vh;
    border-width: 1px;
    border-right-style: solid;
}

.LeftSideValues .ValueGroup {
    min-height: 100px;
}

.LeftSideValues .ValueGroup > .Title{
    background-color: gray;
    font-size: 20px;
}


