.main-content {
	display: -webkit-flex;
    display: flex;
    height: 97vh;
}
.graphs {
	flex: 1;
}
.values {
    border-width: 1px;
    border-right-style: solid;
    width: 400px;
}

.values > .Title{
    background-color: gray;
    font-size: 20px;
}

/*input {*/
    /*border: 5px solid white;*/
    /*-webkit-box-shadow:*/
      /*inset 0 0 8px  rgba(0,0,0,0.1),*/
            /*0 0 16px rgba(0,0,0,0.1);*/
    /*-moz-box-shadow:*/
      /*inset 0 0 8px  rgba(0,0,0,0.1),*/
            /*0 0 16px rgba(0,0,0,0.1);*/
    /*box-shadow:*/
      /*inset 0 0 8px  rgba(0,0,0,0.1),*/
            /*0 0 16px rgba(0,0,0,0.1);*/
    /*padding: 15px;*/
    /*background: rgba(255,255,255,0.5);*/
    /*margin: 0 0 10px 0;*/
/*}*/