body {
    background-color: #EEEEEE;
    margin:0px;
    /*height: 90vh;*/
}

.main-content {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

#voltage, #current {
    display: -webkit-flex;
    display: flex;
}

.statusValues {
    width: 500px;
}

.statusTitle{
    text-indent: 10px;
    background-color: gray;
    font-family: Museo-700, serif;
    font-size:50px;
}

#outputCurrent, #outputVoltage{
    font-size: 70px;
    font-family: Museo-700, serif;
}

#targetCurrent, #targetVoltage{
    color: gray;
    font-weight: bold;
    font-size: 30px;
}

.outputValues, .targetValues{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.targetValuesText{
    color: gray;
    font-size: 20px;
}

.outputValuesText{
    font-size: 30px;
}

.targetValueInput{
    width: 50px;
}

#onOffCheckbox{
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
}
